body {
  display: flex;
  /* height: 100vh; */
  flex-direction: column;
  font-family: Roboto, sans-serif;
  margin: 0;
  color: #1f2937;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  flex-grow: 1;

  font-size: 18px;
  color: #e5e7eb;
  padding: 0px 100px 20px 100px;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 10px 0px;
}

.top-header ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding-left: 0px;
}

.header-links {
}

.lower-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greeting-and-signup {
  /* margin-left: 130px; */
}

.welcome-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.greeting-image {
  border-radius: 10px;
  border: 2px solid;
}

button {
  border-radius: 10px;
  background-color: #3882f6;
  border-color: white;
  border: 2px solid white;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.sign-up-button {
  border-radius: 10px;
  background-color: #3882f6;
  /* border-color: white; */
  border: 2px white;
  padding: 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  /* background-color: #3882f6; */
}

.image-heading {
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 20px;
}

.ai-pictures {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.lower-header img,
.main-content img {
  border-radius: 10px;
  border: 2px solid;
}

.ai-pictures {
}

.ai-brain,
.ai-chip,
.ai-head,
.ai-text {
  display: flex;
  flex-direction: column;
  max-width: 130px;
}

.ai-captions {
  display: flex;
  justify-content: center;
  text-align: center;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e7eb;
  padding: 60px 150px 60px 150px;
}
.main-quote {
  font-style: italic;
}

.quote-author {
  text-align: right;
  font-weight: bold;
}

.lower-banner {
  padding: 50px 100px;
}

.blue-banner {
  background-color: #3882f6;
  padding: 30px 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.bluebanner-text {
  color: white;
}

.call-to-action {
  font-weight: bold;
  font-size: larger;
}

.signup-text {
  font-size: low;
}

.bluebanner-button {
  align-self: center;
  margin-right: 50px;
  background-color: #3882f6;
  /* padding-left: auto;
  padding-right: auto; */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  font-size: smaller;
  background-color: #1f2937;
}

.copyright-claim {
  padding: 20px 0px;
  color: white;
}

/* button {
  background-color: #3882f6;
  padding
} */
